@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
/*Primera Parte*/
.fsection {
    margin-top: 5%;
    margin-left: 5%;
}

.tittle {
    font-size: 60px;
}

.slogan {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px;
}

.fake-slogan,
.fake-slogan2 {
    border-radius: 50%;
    margin: 10px;
}

.fake-slogan{
    position: absolute;
    margin-top: 1%;
    margin-left: 55%;

    background-color: burlywood;
    width: 350px;
    height: 350px;
}

.fake-slogan2 {
    position: absolute;
    margin-top: 15%;
    margin-left: 70%;

    background-color: aqua;
    width: 200px;
    height: 200px;
}

.boton-explorar {
    background-color: saddlebrown;

    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    
    transition: background-color 0.3s, color 0.3s;
}

.boton-explorar:hover {
    background-color: burlywood;
    color: black;

}

.slogan {
    text-align: left;
    max-width: 400px;
}
/*Segunda Parte*/

.contenedor-ssection {
    position: relative;
    z-index: 2;
}

.contenedor-ssection {
    background-color: rgb(218, 176, 98);
    border-radius: 32px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    margin: 0 auto;
    padding: 20px;


    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
}

.contenedor-ssection {
    text-align: center;
}

.ssection-titulo {
    font-size: 24px;
}

.ssection-mslogan {
    font-size: 14px;
}

/*Tercera Parte*/
.contenedor-tsection {
    position: relative;
    z-index: 1;
}

.contenedor-tsection {
    background-color: rgb(49, 35, 25);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    gap: 1rem;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: -5%;
    margin-bottom: 2%;
    color: white;
    text-align: center;
}

.fake-image {
    width: 100%;
    height: 250px;
    background-color: #ddd;
    border-radius: 10px; 
    margin-bottom: 10px; 
}

.tsection-mslogan {
    font-size: 14px;
}